---
layout: default
---
<div id="home" class="page-content wc-container">
  <div class="posts">
    <h1>Experience:</h1>
    <ul>
      <li>
        <h4>Ruby on Rails Developer at <a href="http://onapp.com" target="_blank">OnApp</a></h4>
        <p>April 2015 - Present</p>
      </li>
      <li>
        <h4>Ruby on Rails Developer at <a href="https://sphereinc.com/" target="_blank">Sphere Software</a></h4>
        <p>November 2014 - January 2015 (3 months)</p>
      </li>
      <li>
        <h4>QA Engineer at <a href="http://www.dev-pro.net/" target="_blank">Dev-Pro.net</a></h4>
        <p>June 2013 - November 2014 (1 year 6 months)</p>

        <p>Functional, usability, smoke, regression testing on several projects. Among them are social
        network/blog http://www.writerbeat.com/, educational software portal http://edtechreview.com/, back-end
        side for world leading off-road tires manufacturer, plenty of websites for marketing agencies.</p>
      </li>
      <li>
        <h4>Web Researcher/Business Development Assistant at <a href="http://www.dev-pro.net/" target="_blank">Dev-Pro.net</a></h4>
        <p>April 2012 - May 2013 (1 year 2 months)</p>
        
        <p>Web researches and analytics for Business Development department. Main goal of such researches was
        data mining and following presentation of data, analytics and information for generating new business
        opportunities and expansion of current client database. Responsibilities were the following: - Research of
        potential clients - Market research projects - Maintaining a database of clients and partners - Internet research and data sourcing of different types (technical, financial, legal, etc.), information analysis.</p>
      </li>
      <li>
        <h4>Broadcast editor at <a href="http://sigmatv.net.ua/" target="_blank">Sigma TV</a></h4>
        <p>September 2006 - August 2012 (6 years)</p>
        
        <p>I edited and prepared video materials in Adobe Premier and Edius software and was responsible for broadcast quality.</p>
      </li>
      <li>
        <h4>Sales manager at <a href="http://itdelight.com/" target="_blank">IT Delight</a></h4>
        <p>July 2011 - February 2012 (8 months)</p>
        
        <p>Selling custom web development services to clients from the US, Western Europe and Australia.</p>
    </ul>
  </div>
</div>

<<!-- div id="home" class="page-content wc-container">
	<div class="posts">
  		{% for post in site.posts limit:10 %}
  			<div class="post">
    			<h3 class="post-title">
			      <a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">
			        {{ post.title }}
			      </a>
    			</h3>

          <p class="post-meta">
            {% if (post.categories.size > 0 %}
            <span class="categories">
            {{ post.categories | array_to_sentence_string }}
            </span> |
            {% endif %}
            <span class="post-date">
            {{ post.date | date: "%b %-d, %Y" }} 
            </span>
          </p>          
    			    			
  				<p>
	  				{{ post.excerpt }}	
  				</p>
  				<p>
  					<a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}" title="{{ post.title}}">
  						Read More
					</a>
  				</p>
  			</div>
  		{% endfor %}
	</div>
	<div class="post-footer">
		<div class="column-full"><a href="{{ '/blog' | prepend: site.baseurl | prepend: site.url }}">Blog archive</a></div>
	</div>
</div> -->